<div>
  <label for="contact-name">Name: </label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email: </label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone #: </label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Picture URL: </label>
  <input type="text" [(ngModel)]="newContact.image">
</div>
<button (click)="addContact()">Submit New Contact</button>

<br><br>
<div>
  <label for="filter-contacts">Search: </label>
  <input id="filter-contacts" placeholder="contact name"
              type="text" [(ngModel)]="pattern">
</div>

<ul>
  <li *ngFor="let contact of contacts | filterName:'name':pattern">
    <span>{{contact.name}}</span>
    <span>{{contact.email}}</span>
    <span>{{contact.phoneNumber}}</span>
    <img src="{{contact.image}}" alt="contact picture">
  </li>
</ul>
